.filters{
    background:white;
    position:relative;
    height:70px;
    width:100%;
    display:flex;
    border: 1px solid #DDDDDD;
    border-radius:4px;
}
button{
    position:absolute;
    width:20%;
    top:15%;
    font-size:18px;
    background: #FF5A5F;
    color:#FFFFFF;
    height:48px;
    border:none;
    border-radius:4px;
    right:30px;
}
button:hover{
     opacity:0.9;
}
.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.locations h3, .locations h2 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom:0px;
}

.amenities h4,
.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin:0px 0px 20px 0px;
}
.popover{
    background:#FAFAFA;
    border:1px solid #DDDDDD;
    display:none;
    width:100%;
}
.popover ul{
    list-style-type:none;
    margin:0px;
}
.amenities:hover .popover{
    display:block;
}
.locations:hover .popover{
    display:block;
}
